.landingPageHeader {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

h2 {
  width: 60%;
  font-size: 3rem;
}

#heroImage {
  width: 40%;
  height: auto;
}

.landingPageAbout > li {
  margin-bottom: 2.5rem;
  padding: 2rem 1rem;
  border: 1px solid hsl(9, 53%, 43%);
  background-color: hsl(9, 53%, 43%);
  text-align: center;
  font-weight: 700;
}

.landingPageAbout > li:nth-child(1) {
  width: 40%;
}

.landingPageAbout > li:nth-child(2) {
  width: 55%;
}

.landingPageAbout > li:nth-child(3) {
  width: 65%;
}

.landingPageAbout > li:nth-child(4) {
  width: 80%;
}

.landingPageAbout > li:nth-child(1):hover {
  background-color: hsl(9, 100%, 66%);
}