.app-header {
  width: 100%;
  height: auto;
  background-color: rgba(32, 30, 30, 1);
  margin-bottom: 1.5em;
}

.app-header > nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-information {
  display: flex;
  align-items: center;
  color: white;
}

.user-pfp {
  width: 50px;
  height: auto;
  border: 1px solid rgba(153, 3, 153, 0.644);
  border-radius: 25px;
}