body {
  background-color: rgb(94, 94, 94);
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 32px;
  color: green;
}

.login > a {
  border: 1px solid gray;
  border-radius: 5px;
  color: green;
  background-color: gray;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.login > a {
  background-color: green;
  border: 1px solid green;
  border-radius: 5px;
  color: black;
}

.login > a:hover {
  border-color: rgb(2, 90, 2);
  background-color: rgb(2, 90, 2);
  color: white;
}

.player-display {
  width: 30%;
  border: 1px solid green;
  border-radius: 5px;
  background-color: green;
}

.player-display > img {
  width: 75%;
  height: auto;
  margin: 10px;
  border: 1px solid green;
  border-radius: 5px;
}

.player-display:hover {
  cursor: pointer;
  animation-duration: .25s;
  animation-name: jiggle;
  animation-iteration-count: infinite;
}

@keyframes jiggle {
  50% {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-5deg);
  }
}

.player-buttons {
  width: 100%;
  margin-top: 20px;
}

.player-buttons > button {
  padding: 5px;
  margin: 5px;
  border: 1px solid green;
  background-color: green;
  color: black;
  border-radius: 5px;
}

.player-buttons > button:hover {
  border-color: rgb(2, 90, 2);
  background-color: rgb(2, 90, 2);
  color: white;
}